In [1]:
import pandas as pd

tables = pd.read_html('https://en.wikipedia.org/wiki/Las_Vegas')

len(tables)

24

In [2]:
len(tables)

24

In [10]:
tables[5]

,Team,Sport,League,Venue (capacity),Established,Titles
0,Las Vegas Raiders,Football,NFL,"Allegiant Stadium (65,000)",2020,3[c]
1,Vegas Golden Knights,Ice hockey,NHL,"T-Mobile Arena (17,500)",2017,1
2,Las Vegas Aces,Women's basketball,WNBA,"Michelob Ultra Arena (12,000)",2018,1

In [11]:
df = tables[5]

In [13]:
df

,Team,Sport,League,Venue (capacity),Established,Titles
0,Las Vegas Raiders,Football,NFL,"Allegiant Stadium (65,000)",2020,3[c]
1,Vegas Golden Knights,Ice hockey,NHL,"T-Mobile Arena (17,500)",2017,1
2,Las Vegas Aces,Women's basketball,WNBA,"Michelob Ultra Arena (12,000)",2018,1

In [18]:
# Specify the file path
excel_file_path = r"C:\Users\Luisa\OneDrive\Documents\Data Practice\Pandas\LasVegasData.xlsx"

# Save the DataFrame to an Excel file
df.to_excel(excel_file_path, index=False)